.row {
	display: inline-flex;
}

.esquerda {
	background-color: green;
	width: 100%;
	text-align: center;
	font-size: 26px;
	color: #fefefe;
	padding: 25%;
}

.meio {
	background-color: black;
	width: 100%;
	text-align: center;
	font-size: 26px;
	color: #fefefe;
	padding: 25%;
}

.direita {
	background-color: blue;
	width: 100%;
	text-align: center;
	font-size: 26px;
	color: #fefefe;
	padding: 25%;
}